/* ============================================= */
/*              Variables                        */
/* ============================================= */

//Colors

$white: #fff;
$border-color:  rgb(228, 227, 227);
$hover-color:  rgb(230, 242, 252); 

//Media Query Breakpoints

$brk-narrow : '(min-width: 768px)';