/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1045px;
    font-family: Ubuntu, sans-serif ;
    background-color: $white;
    padding: 20px;
    font-family: Ubuntu, Helvetica, sans-serif;
}


 /* ============================================= */
 /*              Typography                       */
 /* ============================================= */

  h1 {
      text-align: center;
      margin-top: 50px;
  }